*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: black;
    color:#fff;
    overflow: hidden;

}


h1{
    font-weight: 300;
}
#wrapper {
    display: flex;
    flex-direction: row;

}
#left {
    display: flex;
    flex:4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#right {
flex:6;
}
#signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 10px;
}
#signin form {
    width: 80%;
    padding-bottom: 20px;
}
#signin .logo {
    margin-bottom: 8vh;

}
#signin .logo img {
    width:300px;
}
#signin label {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
}
#signin .text-input {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: black;
    border:1px solid #555;
    color: white;
    padding:0.7rem 0.7rem;
    line-height: 1rem;
}
#signin .primary-btn {
    width: 100%;
}

.primary-btn {
    padding:0.8rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background:blue ;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.secondary-btn {
    padding:0.8rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #fff;
    border-radius: 2px;
    font-weight: 500;
    background:rgba(131, 128, 128, 0.883) ;
    color: rgb(246, 237, 237);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
#signin #links a {
    color:rgb(121, 121, 240);
    text-decoration: none;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    font-size: 0.8rem;
}
#main-footer {
    color:#ccc;
    text-align: center;
    font-size: 0.7rem;
    max-width:80%;
    padding-top: 5rem;
}
#main-footer a {
    color:#ccc;
    text-decoration: underline;
    
} 
#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://image.ibb.co/cO9Lxq/login-bg.jpg') no-repeat center center / cover;
    height: 100vh;
    text-align: center;
}
#showcase .showcase-text {
    font-size: 3rem;
    width: 100%;
    color: white;
    margin-bottom: 1.5rem;
}
#showcase .secondary-btn {
    width:60%;
    margin: auto;
}




